@font-face {
    font-family: Quicksand Heading;
    src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
}

@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
}



html, body {
    margin: 0;
    background-color: white;
    overflow-x: hidden;
    font-family: Arvo;
}

* {
    box-sizing: border-box;
}

#Welcome {
    text-align: left;
    margin-top: 80px;
    color: white;
    font-size: 3rem;
    font-family: Quicksand Heading;
}

#Heading {
    text-align: left;
    font-size: 7rem;
    font-family: Quicksand Heading;
    color: white;
}

.image1{
    height: 721px;
    width: 100%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(sidewalk.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    padding-right: 5rem;
}
    
@media screen and (max-width: 768px) {
    .image1 {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    #Welcome {
        font-size: 2rem;
    }
    
    #Heading {
        font-size: 5rem;
    }
}

@media screen and (max-width: 480px) {
    .image1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    #Welcome {
        font-size: 2rem;
    }
    
    #Heading {
        font-size: 4rem;
    }
}
  
.red {
    color: red;
}

.blue{
    color: blue;
}


nav a{
    font-size: 20px;
}


#progress {
    text-align: center;
    color: blue;
}

p{
    color: black;
    margin-left: 50px;
    margin-top: 30px;
}

h4 {
    color: red;
    text-align: center;
}
img {
    display: inline;
    margin-left: 50px;
}

#nosidewalk {
    display: inline;
    margin-left: 50px;
    border-radius: 30px;
}

#sidewalk {
    display: inline;
    margin-left: 90px;
    border-radius: 30px;
}

ul {
    text-align: center;
    color: green;
}

img.img-rounded {
    border-radius: 30px;
}

.text{
    width: 80%;
    margin: 0 auto;
    font-family: Montserrat;
    font-size: 35px;
}