/* @font-face {
    font-family: NAME OF NEW FONT TO CREATE;
    src: url(URL TO FONT HERE);
} */


html, body {
    margin: 0;
    background-color: white;
    overflow-x: hidden;
    font-family: Arvo;
}

h2 {
    text-align: center;
}


*  {
    box-sizing: border-box;
}

nav a{
    font-size: 20px;
}


#progress {
    text-align: center;
    color: blue;
}

p{
    color: black;
    margin-left: 50px;
    margin-top: 30px;
}

h4 {
    color: red;
    text-align: center;
}
img {
    display: inline;
    margin-left: 50px;
}

#nosidewalk {
    display: inline
    margin-left: 50px;
}

#sidewalk {
    display: inline;
    margin-left: 90px;
}

ul {
    text-align: center;
    color: green;
}